.helpsCardsItem{
    /*background: #FFFFFF;*/
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    /*width: 530px;*/
    width: 31%;
    text-align: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.helpsCardsItem:hover{
    box-shadow: 0px 13px 33px rgba(0, 0, 0, 0.12);
}
.helpsCardsItemInner{
    padding: 40px;
}
.helpsCardsItem h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0E153A;
    margin: 0 0 16px 0;
}
.dark h3,.dark p{
    color: #fff;
}
.light h3,.light p{
    color: #0E153A;
}
.helpsCardsItemInner p{
    margin: 0;
}
.icon{
    margin-bottom: 20px;
}
.link{
    height: 60px;
    justify-content: flex-end;
    color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: auto;
}
.arrow{
    width: 52px;
    margin-right: 37px;
    margin-left: 18px;
}
.linkPath{

}
@media screen and (max-width: 1222px) {
    .helpsCardsItemInner h3{
        font-size: 35px;
        line-height: 38px;
    }
}
@media screen and (max-width: 993px) {
    .helpsCardsItemInner h3{
        font-size: 30px;
        line-height: 31px;
        margin: 0 0 6px 0;
    }
    .helpsCardsItemInner p{
        font-size: 14px;
        line-height: 15px;
    }
    .helpsCardsItem{
        width: 47%;
    }
}
@media screen and (max-width: 768px) {
    .helpsCardsItem{
        width: 80%;
        margin: 12px auto;
    }
}
@media screen and (max-width: 578px) {
    .helpsCardsItem{
        width: 100%;
        margin: 14px auto;
    }
}
