.carousel {
    width: fit-content;
    margin: 0 auto;
}

.carousel .slide {
    background: transparent;
}

.carousel .slide img {
    border-radius: 30px;
}

.carousel .slide .legendReview {

}
.itemWork {
    position: relative;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}




.legendReviews{
    width: 32%;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px;
}
.ratingReview{
    display: flex;
}
.userReview{
    display: flex;
    align-items: center;
}
.carousel .deskOffer{
    font-weight: 300;
    font-size: 14px;
    line-height: 165.5%;
}
.carousel .userReview img{
    width: 73px;
    height: 73px;
}