.helpsBlock{
    margin-top: 150px;
}
.helpCardsWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px -10px 0 -10px;
}
.helpsBlock h2,.textBlockLastW h2,.clientBlock h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #0E153A;
    margin-bottom: 30px;
}
h2.dark{
    color: #fff;
}
h2.light{
    color: #0E153A;
}

.reviewsBlock{
    margin-top: 150px;
    background: #F8F8F8;
}
.clientImg{
    width: 300px;
    padding: 45px 0;
    margin-bottom: 50px;
}
.clientImg img{
    width: 100%;
    padding: 2%;
}
.clientArr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 993px){
    .helpsBlock h2,.clientBlock h2{
        font-size: 30px;
        line-height: 32px;
    }
}
@media screen and (max-width: 768px){
    /*.rightBlockDiscussText{*/
    /*    margin-top: 100px;*/
    /*}*/
    .clientImg{
        width: 48%;
    }
}
@media screen and (max-width: 578px){
    .helpsBlock,.lastWorks{
        margin-top: 60px;
    }
    .helpsBlock h2{
        font-size: 28px;
        line-height: 30px;
    }
}
