.dFlex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.carousel {
    width: fit-content;
    margin: 0 auto;
}

.carousel .slide {
    background: transparent;
}

.carousel .slide img {
    border-radius: 30px;
}

.carousel .slide .legend {
    padding: 10% 0 0 10%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background: linear-gradient(150.47deg, rgba(74, 79, 190, 0.82) -29.27%, rgba(129, 134, 247, 0.87) 95.72%, #9281FF 95.72%);
    text-align: left;
    opacity: 0.7;
}
.itemWork {
    position: relative;
}
.carousel .deskOffer{
    width: 30%;
    font-weight: 400;
    font-size: 20px;
    line-height: 161.52%;
    margin-top: 10px;
    margin-bottom: 35px;
}
.carousel .linkOffer{
    width: 230px;
    height: 53px;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.carousel .linkOffer p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background: linear-gradient(139.87deg, #61CEF8 7.04%, #A53EF6 113.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 0;
}
.carousel .titleOffer {
    width: 60%;
    margin: 0;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    color: #FFFFFF!important;
}

.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}

@media screen and (max-width: 1400px) {
    .carousel .titleOffer{
        font-size: 65px;
        width: 90%;
        line-height: 76px;
    }
    .carousel .deskOffer{
        width: 60%;
        line-height: 24px;
    }
}
@media screen and (max-width: 993px) {
    .carousel .titleOffer{
        font-size: 45px;
        line-height: 47px;
    }
    .carousel .slide .legend {
        padding: 6% 0 0 6%;
    }
    .carousel .thumbs{
        padding-left: 0;
    }
}
@media screen and (max-width: 796px) {
    .carousel .titleOffer{
        font-size: 36px;
        line-height: 38px;
    }
    .carousel .deskOffer{
        line-height: 19px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .carousel .linkOffer {
        width: 140px;
        height: 39px;

    }
    .carousel .linkOffer p{
        font-size: 12px;
    }
}
@media screen and (max-width: 576px) {
    .carousel .titleOffer{
        font-size: 16px;
        line-height: 18px;
    }
    .carousel .deskOffer{
        display: none;
    }
    .carousel .linkOffer {
        width: 124px;
        height: 30px;
        margin-top: 20px;
    }
    .carousel .linkOffer p{
        font-size: 10px;
    }
}